.poster {
    width: 180px;
    height: 270px;
}

div.info {
    display: none;
    width: 100%;
}

.infoShow {
    display: block;
    position: absolute;
    z-index: 200;
    background-color: slategray;
    color: white;
    margin-left: 15px;
}

.summary {
    font-size: larger;
}

.green {
    color: springgreen;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.movieTitle {
    font-size: xx-large;
    font-weight: 900;
}


