<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-TvTuner-20130927221615.mdf;Initial Catalog=aspnet-TvTuner-20130927221615;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="TvTunerConnectionString" connectionString="Data Source=Eric-PC;Initial Catalog=TvTuner;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TvTunerConnectionString1" connectionString="Data Source=eric-pc\;Initial Catalog=TvTuner;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>