@model TvTuner.Controllers.IndexModel

@{
    ViewBag.Title = "Home Page";
    
}

<script type="text/javascript">

    $(document).ready(function() {
        $("a.vidLink").on("click", function(e) {
            e.preventDefault();

            $("video").children().remove();
            $("video").append("<source src=\"" + $(this).prop("href") + "\" type='video/mp4'>");
        });
    });
</script>

@foreach (var show in Model.Series) {
    <div class="text-center">
        <a href="@Url.Action("Show", new {id=show.SeriesID})"><img class="img-rounded" src="@Url.Action("GetSeriesBanner", "Home", new {id=show.SeriesID})"/></a>
    </div>
}