@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TvTunerService.Models.ShowIndexModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<h2>Shows</h2>


@foreach (var show in Model.Shows) {
    <div class="row">
        <a href="~/Shows/Show/@show.ID"><img width="758" height="140" src="@Url.Content(show.BannerImg)" /></a>
    </div>
}

