@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TvTunerService.Models.ShowIndexModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<h2>Shows</h2>


@foreach (var show in Model.Shows) {
    <a href="~/Shows/Show/@show.ID"><img src="@Url.Content(show.BannerImg)" /></a>
}

